

.orby {
  color: rgb(178, 10, 10)
}

.title {
  color: rgb(44, 178, 42)
}

.songs {
  color: rgb(240, 208, 0)
}

.hobbys {
  color: rgb(253, 129, 28)
}

.vibes {
  color: rgb(21, 79, 193) }

.faves {
  color: rgb(94, 20, 169)
}